<!DOCTYPE html>
<html>
<head>
	<title>S-tog fra {{StationName}}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	<style>
		 span {
			background-color:#000;
			color:#fff;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			color: #FFFFFF;
			display: inline;
			height: 22px;
			line-height: 22px;
			text-align: center;
			width: 22px;
			font-weight: bold;
			padding: 5px;
		}
		.line-A {
			background-color: #00b4f1;
		}
		 .line-B {
			 background-color: #4db848;
		 }
		 .line-BX {
			 background-color: #a1d078;
		 }
		 .line-C {
			 background-color: #f7941e;
		 }
		 .line-H {
			 background-color: #f04e23;
		 }
		 .line-F {
			 background-color: #ffc20e;
		 }
		 .line-E {
			 background-color: #7e79b8;
		 }
		/* Custom... */
		.footer {
			text-align: center;
			padding: 30px 0;
			margin-top: 70px;
			border-top: 1px solid #e5e5e5;
			background-color: #f5f5f5;
		}
		.footer p {
			margin-bottom: 0;
			color: #777;
		}
		.footer-links {
			margin: 10px 0;
		}
		.footer-links li {
			display: inline;
			padding: 0 2px;
		}
		.footer-links li:first-child {
			padding-left: 0;
		}
		.top-buffer {
			margin-top:20px;
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<div class="container top-buffer">
		<div class="navbar navbar-static">
			<div class="navbar-inner">
				<div class="container" style="width: auto;">
					<ul class="nav" role="navigation">
						<li class=" dropdown">
							<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{StationName}} <b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
								{{#stationDropdown}}<li role="presentation"><a role="menuitem" tabindex="-1" href="?station={{uic}}">{{name}}</a></li>
								{{/stationDropdown}}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		{{^error}}
		{{#stationDepartures}}
		<h3>Retning: {{trainHeading}}</h3>
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>Linje (mod)</th>
				<th>Afgang om..</th>
				<th>Spor</th>
			</tr>
			</thead>
			<tbody>
			{{#directionDepartures}}
			<tr>
				<td><span class="line-{{Line}}" title="kørende mod {{{{Direction}}"> {{Line}} </span>&nbsp;{{DestinationName}}</td>
				<td>{{MinutesToDeparture}} min.</td>
				<td>{{Track}}</td>
			</tr>
			{{/directionDepartures}}
			</tbody>
		</table>
		{{/stationDepartures}}
		{{/error}}
		{{#error}}
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert">X</a>
			<strong>Fejl!</strong> {{error}}
		</div>
		{{/error}}
		<div class="btn-group">
			<button class="btn btn-info" title="Vis afgange for nærmeste station" onclick="javascript:findMe()">Find nærmeste</button>
		</div>
	</div>

<script type="text/javascript">
function findMe(){
	navigator.geolocation.getCurrentPosition(successCallback,
			errorCallback,
			{maximumAge:10});
/*            {maximumAge:300000});*/

    function successCallback(position) {
		if (!(typeof(console) === "undefined")) {
			console.log(position);
		}
		latData  = position.coords.latitude;
		longData = position.coords.longitude;

		$.ajax({
			type: "GET",
			url: 'geoProxy.php',
			dataType: "json",
			data: { 'long': longData, 'lat': latData },
			jsonCallback: 'oioCallback',
			success: oioCallback
		});
	}

	function errorCallback(error) {
		if (!(typeof(console) === "undefined")) {
			console.log(error);
		}
	}

	function oioCallback(data) {
		console.log(data);
		station = data[0];
		document.location.href = '/?station=' + station['holdepladsnr'];
	}
}
</script>
{{{analyticsCode}}}
</body>
</html>
