<!DOCTYPE html>
<html>
<head>
	<title>S-tog fra {{StationName}}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
			<style>
				 span {
					background-color:#000;
					color:#fff;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					color: #FFFFFF;
					display: inline;
					height: 22px;
					line-height: 22px;
					text-align: center;
					width: 22px;
					font-weight: bold;
					padding: 5px;
				}
				.line-A {
					background-color: #00b4f1;
				}
				 .line-B {
					 background-color: #4db848;
				 }
				 .line-BX {
					 background-color: #a1d078;
				 }
				 .line-C {
					 background-color: #f7941e;
				 }
				 .line-H {
					 background-color: #f04e23;
				 }
				 .line-F {
					 background-color: #ffc20e;
				 }
				 .line-E {
					 background-color: #7e79b8;
				 }
				/* Custom... */
				.footer {
                       text-align: center;
                       padding: 30px 0;
                       margin-top: 70px;
                       border-top: 1px solid #e5e5e5;
                       background-color: #f5f5f5;
                   }
                 .footer p {
                     margin-bottom: 0;
                     color: #777;
                 }
                 .footer-links {
                     margin: 10px 0;
                 }
                 .footer-links li {
                     display: inline;
                     padding: 0 2px;
                 }
                 .footer-links li:first-child {
                     padding-left: 0;
                 }
			</style>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span12">
		<h2>Afgange fra {{StationName}}</h2>
		{{^error}}
		<table class="table table-striped">
		  <thead>
			<tr>
				<th>Linje (mod)</th>
				<th>Afgang om..</th>
				<th>Spor</th>
			</tr>
		  </thead>
		  <tbody>
		  {{#departures}}
			<tr>
				<td><span class="line-{{Line}}" title="kørende mod {{{{Direction}}"> {{Line}} </span>&nbsp;{{DestinationName}}</td>
				<td>{{MinutesToDeparture}} min.</td>
				<td>{{Track}}</td>
			</tr>
			{{/departures}}
		  </tbody>
		</table>
		{{/error}}
		{{#error}}
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert">X</a>
			<strong>Fejl!</strong> {{error}}
		</div>
		{{/error}}
		</div>
	</div>
	<div class="row">
		<div class="span6">
		<form name="stationsForm" method="GET">
			{{#debug}}
				<input type="hidden" name="debug" value="1">
			{{/debug}}

			Vælg station <select name="station" onChange="document.stationsForm.submit()">
				{{#stationDropdown}}
					<option {{selected}}value="{{uic}}">{{name}}</option>
				{{/stationDropdown}}
			</select>
		</form>
		eller <button onclick="javascript:findMe()">Vis nærmeste</button>
		</div>
	</div>
</div>

<script type="text/javascript">
function findMe(){
	navigator.geolocation.getCurrentPosition(successCallback,
			errorCallback,
			{maximumAge:10});
/*            {maximumAge:300000});*/

    function successCallback(position) {
		if (!(typeof(console) === "undefined")) {
			console.log(position);
		}
		latData  = position.coords.latitude;
		longData = position.coords.longitude;

		$.ajax({
			type: "GET",
			url: 'geoProxy.php',
			dataType: "json",
			data: { 'long': longData, 'lat': latData },
			jsonCallback: 'oioCallback',
			success: oioCallback
		});
	}

	function errorCallback(error) {
		if (!(typeof(console) === "undefined")) {
			console.log(error);
		}
	}

	function oioCallback(data) {
		console.log(data);
		station = data[0];
		document.location.href = '/?station=' + station['holdepladsnr'];
	}
}
</script>

{{{analyticsCode}}}
</body>
</html>
